{% extends 'kommunabokhald/base.html' %}

{% block content %}
<div class="container" style="float: left">
    <table class="table table-striped">
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    <button class="btn btn-default">
                        <a href="/removegrocery/{{ item.id }}">
                            Merkja sem keypt
                        </a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="post" action="/addgrocery/">
        {% csrf_token %}
        <div class="form-group">
            <label for="item">Hlutur</label>
            <input class="form-control" id="item" type="text" name="item" />
        </div>
        <input class="btn btn-primary" type="submit" >
</form>
</div>

{% endblock %}