{% extends 'kommunabokhald/base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="login_form" method="post" action="{% url 'login' %}">
        <div class="form-group">
            {% csrf_token %}
            <label class="control-label" for="id_username">Notendanafn:</label>
            {% render_field form.username class+="form-control" %}
            <label class="control-label" for="id_password">Lykilorð:</label>
            {% render_field form.password class+="form-control" %}
        </div>

        <input class="btn btn-default" type="submit" value="Skrá inn" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>
        Gleymdirðu lykilorði? <a href="{% url 'password_reset' %}">Fá nýtt lykilorð</a>
    </p>
{% endblock %}
