div.tables {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.payments {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paymentForm {
    flex: 1;
    padding: 2%;
    border: 1em;
}

.login_form {
    width: 50%;
}

.subTable {
    height: 50%;
    overflow-y: auto;
    margin: 2%;
    flex: 1;
    width: 40%;

}

#your-payments-table {
    height: 20%;
    overflow-y: auto;
}
